body {
  align-items: center;
  background-color: #2fc18c;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-size: 100%;
  height: 100vh;
  justify-content: center;
  width: 100vw;

}

:root {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
